/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p {
    margin: 0;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

:root {
    font-family: Josefin Sans, sans-serif;

    --clr-white-600: #FFF4F4;
    --clr-white-800: #FFFFFF;
    --clr-salmon-200: #906B6B;
    --clr-salmon-400: #CE9898;
    --clr-salmon-600: #ECABAB;
    --clr-salmon-800: #FFB9B9;
    --clr-brown-100: #423A3A;
    --clr-red-100: #F96464;
}

/* COMPOSITION */
body {
    min-height: 100vh;
}

.content {
    display: grid;
    width: var(--content-width, 1440px);
    height: 800px;
}

.hero__image {
    background-repeat: no-repeat;
}

.hero-text {
    padding: var(--hero-text-padding, 136px 0 0 0)
}

.sign-up {
    position: relative;
    width: var(--sign-up-width, 445px);
    margin-top: var(--sign-up-margin-top, 40px);
}

/* UTILITIES */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.bg-primary {
    background: linear-gradient(150deg, var(--clr-white-800) 0%, var(--clr-white-600) 84.51%);
}

.clr-primary {
    color: var(--clr-salmon-400);
}

.clr-secondary {
    color: var(--clr-brown-100);
}

.clr-error {
    color: var(--clr-red-100);
}

.fnt-slim {
    font-weight: 300;
}

.fnt-normal {
    font-weight: 400;
}

.fnt-bold {
    font-weight: 600;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: center;
}

/* BLOCK */
.hero-header__logo {
    width: var(--logo-width, 158px);
    height: var(--logo-height, 33px);
}

.hero-text__title-highlight {
    font-size: var(--hero-text-title-font-size, 64px);
    letter-spacing: var(--hero-text-title-letter-spacing, 17.321px);
    line-height: var(--hero-text-title-line-height, 64px);
}

.hero-text__title {
    font-size: var(--hero-text-title-font-size, 64px);
    letter-spacing: var(--hero-text-title-letter-spacing, 17.321px);
    line-height: var(--hero-text-title-line-height, 71px);
}

.hero-text__paragraph {
    font-size: var(--hero-text-paragraph-font-size, 16px);
    line-height: var(--hero-text-paragraph-line-height, 28px);
}

.sign-up__input {
    display: block;
    width: 100%;
    height: var(--sign-up-input-height, 58px);
    border: 1px solid var(--clr-salmon-400);
    border-radius: var(--sign-up-input-border-radius, 28px);
    padding: var(--sign-up-input-padding, 15px 0 13px 32px);
    font-size: var(--sign-up-input-font-size, 16px);
    line-height: 28px;
}

.sign-up__input::placeholder {
    color: var(--clr-salmon-400);
}

.sign-up__button {
    position: absolute;
    width: var(--sign-up-button-width, 100px);
    height: var(--sign-up-input-height, 58px);
    top: 0;
    right: var(--sign-up-input-right, 0);
    background-color: var(--clr-salmon-600);
    border-radius: var(--sign-up-input-border-radius, 28px);
}

.sign-up__button-arrow {
    width: var(--sign-up-button-arrow-width, 12px);
    height: var(--sign-up-button-arrow-height, 20px);
}

.sign-up-error__text {
    font-size: 13px;
    line-height: var(--sign-up-error-text-line-height, 28px);
    padding: var(--sign-up-error-text-padding, 4px 0 0 32px);
}

.sign-up-error__image {
    position: absolute;
    top: var(--sign-up-error-image-top, 17px);
    right: var(--sign-up-error-image-right, 116px);
}

/* EXCEPTIONS */
.sign-up__input:focus {
    outline: none;
    border-color: var(--clr-salmon-200);
}

.sign-up__button:hover {
    cursor: pointer;
    background-color: var(--clr-salmon-800);
}

/* DESKTOP VERSION */
@media only screen and (width >= 1500px) {
    .content {
        background-image: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        padding-left: 165px;
        column-gap: 220px;
        grid-template: "header     image" 95px
                       "hero-text  image" 444px
                       "sign-up    image" 1fr /
                        444px      1fr;
    }

    .hero-header {
        grid-area: header;
        align-items: flex-end;
    }

    .hero__image {
        grid-area: image;
        background-image: url("../images/hero-desktop.jpg");
    }

    .hero-text {
        grid-area: hero-text;
        --flow-space: 40px;
    }

    .hero-text__title {
        height: 128px;
    }

    .hero-text-inner-wrapper {
        --flow-space: 32px;
    }

    .sign-up {
        grid-area: sign-up;
    }
}

/* MOBILE VERSION */
@media only screen and (width < 1500px) {
    :root {
        /* content */
        --content-width: 375px;

        /* logo */
        --logo-width: 100px;
        --logo-height: 21px;

        /* hero-text */
        --hero-text-padding: 64px 32px 0;
        --hero-text-title-font-size: 40px;
        --hero-text-title-letter-spacing: 10.825px;
        --hero-text-title-line-height: 42px;
        --hero-text-paragraph-font-size: 14px;
        --hero-text-paragraph-line-height: 22px;

        /* sign-up input-field */
        --sign-up-width: 311px;
        --sign-up-input-height: 48px;
        --sign-up-margin-top: 32px;
        --sign-up-input-padding: 11px 0 9px 24px;
        --sign-up-input-border-radius: 24px;
        --sign-up-input-font-size: 14px;

        /* sign-up button */
        --sign-up-button-width: 64px;
        --sign-up-button-arrow-width: 10px;
        --sign-up-button-arrow-height: 16px;
        --sign-up-input-right: 32px;

        /* sign-up error */
        --sign-up-error-text-line-height: normal;
        --sign-up-error-text-padding: 8px 0 0 24px;
        --sign-up-error-image-top: 13px;
        --sign-up-error-image-right: 104px;
    }

    .content {
        grid-template-rows: 84px auto 1fr;
    }

    .hero-header {
        padding-left: 32px;
    }

    .hero__image {
        background-image: url("../images/hero-mobile.jpg");
        height: 250px;
    }

    .hero-text-inner-wrapper {
        --flow-space: 16px;
    }

    .hero-text {
        text-align: center;
        --flow-space: 32px;
    }

    .sign-up {
        width: 100%;
        height: 172px;
        padding: 0 32px;
    }

    .sign-up-error__text {
        text-align: left;
    }
}